@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Over-The-Air Deployment Service</h1>
    <p>Upload a new iOS application package or search the list of existing ones to distribute it directly to your development or enterprise devices.</p>
</div>