@page
@model OTA_Service.UploadModel
@{
    ViewData["Title"] = "Upload";
}

<h1>@ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data">
    <table style="width: 50%;">
        <tr style="width: 15%;">
            <td>Name</td>
            <td>
                <input type="text" asp-for="Name" required />
            </td>
        </tr>
        <tr>
            <td>Bundle Identifier</td>
            <td>
                <input type="text" asp-for="BundleIdentifier" required />
            </td>
        </tr>
        <tr>
            <td>File</td>
            <td>
                <input type="file" asp-for="Upload" required />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Upload" />
            </td>
        </tr>
    </table>
</form>
